<section class="about-me" id="about-me">
  <div class="container about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-info">
      <div class="about-me-text">
        <h3 class="about-me-title fade-in-up">According to my friends, I am:</h3>
        <p class="about-me-qualities"> A <span class="span-qualities">friendly communicator</span> - I easily connect
          with others and create a positive
          atmosphere in
          any team.</p>
        <p class="about-me-qualities"> A <span class="span-qualities">responsible achiever</span> - I always keep my
          word and follow through on every task I
          take on.</p>
        <p class="about-me-qualities"><span class="span-qualities">Hardworking and result-oriented</span> - I'm fully
          committed to reaching goals and
          delivering high-quality results.
        </p>
      </div>
    </div>
    <div class="box-about-me-img">

      <picture>
        <source srcset="./img/about-me/women.png 1x" media="(min-width:1400px)">
        <source>
        <source>
        <img class="about-me-img" src="./img/about-me/women.png" alt="" width="800" height="800">
      </picture>
    </div>
  </div>
</section>