<section id="education">
  <div class="container education-container">
    <ul class="education-accordion-container">
      <li class="education-accordion-item">
        <div class="block-education">
          <h3 class="item-education">My way</h3>
          <button type="button" class="education-accordion-btn" aria-label="show resume description">
            <svg class="icon-education" width="20px" height="20px">
              <use href="./img/icons.svg#Icon-1@2x"></use>
            </svg>
          </button>
        </div>
        <div class="education-accordion-panel">
          <p class="ac-panel-item">
            My journey in IT began in 2024 when I enrolled in a Full-Stack Developer course — and I
            quickly realized how much
            I
            enjoy it! Although it's a demanding field that requires constant learning and improvement, I'm excited about
            the
            challenges it brings. I'm currently looking for new opportunities to grow as a developer and apply my skills
            in
            building
            web applications, websites, and more.
          </p>
        </div>
      </li>
      <li class="education-accordion-item">
        <div class="block-education">
          <h3 class="item-education">Education</h3>
          <button type="button" class="education-accordion-btn" aria-label="show resume description">
            <svg class="icon-education" width="20px" height="20px">
              <use href="./img/icons.svg#Icon-1@2x"></use>
            </svg>
          </button>
        </div>
        <div class="education-accordion-panel">
          <p class="ac-panel-item">
            GoIT, Full-Stack Developer.<br /> 2024-2025
          </p>
          <p class="ac-panel-item">
            Ivan Franko National University of Lviv, <br /> Master in Finance and Credit.Economist. <br /> 2011-2016
          </p>
        </div>
      </li>
      <li class="education-accordion-item">
        <div class="block-education">
          <h3 class="item-education">Tech skills</h3>
          <button type="button" class="education-accordion-btn" aria-label="show resume description">
            <svg class="icon-education" width="20px" height="20px">
              <use href="./img/icons.svg#Icon-1@2x"></use>
            </svg>
          </button>
        </div>
        <div class="education-accordion-panel">
          <p class="ac-panel-item">
            Html<br /> CSS<br /> JS<br /> TypeScript<br /> React<br /> Node.js
          </p>
        </div>
      </li>
      <li class="education-accordion-item">
        <div class="block-education">
          <h3 class="item-education">My certificate from GoIT</h3>
          <button type="button" class="education-accordion-btn" aria-label="show resume description">
            <svg class="icon-education" width="20px" height="20px">
              <use href="./img/icons.svg#Icon-1@2x"></use>
            </svg>
          </button>
        </div>
        <div class="education-accordion-panel">

          <ul class="certificates-list">
            <li><img class="certificate-item" data-full="./img/education/edu-decst-1.png"
                src="./img/education/edu-decst-1.png" alt="certificate" width="200" height="200" /></li>
            <li><img class="certificate-item" data-full="./img/education/edu-decst-2.png"
                src="./img/education/edu-decst-2.png" alt="certificate" width="200" height="200" /></li>
            <li><img class="certificate-item" data-full="./img/education/edu-decst-3.png"
                src="./img/education/edu-decst-3.png" alt="certificate" width="200" height="200" /></li>
            <li><img class="certificate-item" data-full="./img/education/edu-decst-4.png"
                src="./img/education/edu-decst-4.png" alt="certificate" width="200" height="200" /></li>
          </ul>

        </div>
      </li>
    </ul>
  </div>
</section>