<header class="header" id="header">
  <div class="container header-container">

    <nav class="nav-info">

      <div class="nav-info-box">

        <a class="header-logo-link" href="index.html" aria-label="Website logo">
          <img class="logo-img" src="./img/logo2.png" alt="Tsyhaniuk logo"
            srcset="./img/logo2.png 1x,./img/logo2@2x.png 2x" width="60" height="60">
        </a>
        <div class="language-box">
          <button id="lang-en" class="btn-language">EN</button>
          <button id="lang-uk" class="btn-language">UA</button>
        </div>
        <ul class="header-list">
          <li class="header-item"><a href="#about-me" data-i18n="header.about-me">About me</a></li>
          <li class="header-item"><a href="#education" data-i18n="header.education">Education</a></li>
          <li class="header-item"><a href="#projects" data-i18n="header.projects">Projects</a></li>
        </ul>
        <a class="work-together" href="#work-together" data-i18n="header.work-together">Work together</a>
        <button class="mobile-menu-btn" type="button" aria-label="Open mobile menu button">
          <svg class="mobile-menu-btn-icon" width="28" height="28">
            <use href="./img/icons.svg#sort"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>

  <button type="button" aria-label="Back to top button" class="back-to-top-btn">
    <svg width="20" height="20">
      <use href="./img/icons.svg#Icon@2x"></use>
    </svg>
  </button>
</header>