<header class="header">
  <div class="container header-container">
    <nav class="nav-info">
      <div class="nav-info-box">
        <a class="header-logo-link" href="index.html" aria-label="Website logo">
          <img class="logo-img" src="./img/logo2.png" alt="Tsyhaniuk logo"
            srcset="./img/logo2.png 1x,./img/logo2@2x.png 2x" width="60" height="60">
        </a>
        <ul class="header-list">
          <li class="header-item"><a href="#about-me">About me</a></li>
          <li class="header-item"><a href="">Skills</a></li>
          <li class="header-item"><a href="#">Projects</a></li>
        </ul>
        <a class="work-together" href="#work-together">Work together</a>
      </div>
    </nav>
  </div>
</header>