<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="title-first">Hello.</span><br />
      <span class="title-second">I'm <span class="white-leter"> Fullstack Developer</span></span><br />
      <span class="title-third"><span class="white-leter">T</span>syhaniuk<span
          class="white-leter">K</span>ateryna.</span>
    </h1>

    <ul class="social-list">
      <li><a href="https://t.me/katerynatsyhaniuk" target="_blank" rel="noopener noreferrer"
          aria-label="Telegram social link"><svg width="30" height="30">
            <use href="./img/icons.svg#telegram"></use>
          </svg></a></li>
      <li><a href="https://www.linkedin.com/in/kateryna-tsyhaniuk/" target="_blank" rel="noopener noreferrer"
          aria-label="Linkedin social link"><svg width="30" height="30">
            <use href="./img/icons.svg#icons8-linkedin"></use>
          </svg></a></li>
      <li><a href="https://www.instagram.com/hlemba_katya/" target="_blank" rel="noopener noreferrer"
          aria-label="Instagram social link"><svg width="30" height="30">
            <use href="./img/icons.svg#icons8-instagram"></use>
          </svg></a></li>
      <li><a href="https://github.com/KaterynaTsyhaniuk" target="_blank" rel="noopener noreferrer"
          aria-label="GitHub social link"><svg width="30" height="30">
            <use href="./img/icons.svg#icons8-github-logo"></use>
          </svg></a></li>
      <li class="gmail-item"><a class="gmail-link"
          href="https://mail.google.com/mail/?view=cm&to=tsyhaniukkateryna@gmail.com" rel="noopener noreferrer"
          aria-label="Gmail"><svg width="30" height="30">
            <use href="./img/icons.svg#emails-icon"></use>
          </svg></a>
        <p>tsyhaniukkateryna@gmail.com</p>
      </li>
    </ul>

  </div>
</section>