<div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="navigation">
  <div class="mobile-menu-container">
    <button id="menu-close" class="mobile-menu-close" aria-label="Close menu" type="button">
      <svg width="28" height="28">
        <use href="./img/icons.svg#x-close"></use>
      </svg>
    </button>
    <div class="mobile-menu-content">
      <ul class="mobile-menu-list">
        <li><a href="#about-me" class="mobile-menu-link" data-i18n="mobile-menu.about-me">About me</a></li>
        <li><a href="#education" class="mobile-menu-link" data-i18n="mobile-menu.education">Education</a></li>
        <li><a href="#projects" class="mobile-menu-link" data-i18n="mobile-menu.projects">Projects</a></li>
      </ul>
      <a href="#work-together" class="mobile-menu-btn-work" data-i18n="mobile-menu.work-together">Work together</a>
    </div>
  </div>
</div>