<section class="projects" id="projects">
  <div class="container projects-container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-swiper">
      <ul class="swiper-wrapper projects-swiper-wrapper">
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-image-wrapper">

            <img class="projects-image" src="../img/projects/aqua-track-min.png" alt="Aquatrack" width="475"
              height="300" />

          </div>
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">React</li>
              <li class="projects-item-list">Node.js</li>
              <li class="projects-item-list">JS</li>
              <li class="projects-item-list">CSS</li>
            </ul>
            <h3 class="main-info">
              Water tracker
            </h3>
            <p class="main-info-text">Team project</p>
            <p class="main-info-text">Role: dev components Modal</p>
            <a href="https://final-project-frontend-taupe.vercel.app/" target="_blank" rel="noopener noreferrer"
              class="project-link" aria-label="GitHub project link">See project</a>
          </div>

        </li>
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-image-wrapper">
            <img class="projects-image" src="../img/projects/portfolio.png" alt="Portfolio" width="500" height="400" />
          </div>
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">JS</li>
              <li class="projects-item-list">HTML</li>
              <li class="projects-item-list">CSS</li>
            </ul>
            <h3 class="main-info">
              Portfolio
            </h3>
            <p class="main-info-text">Team project</p>
            <p class="main-info-text">Role: dev section About me</p>
            <a href="https://github.com/GHUserNameDO/105-cyber-solutions-team-project-2" target="_blank"
              rel="noopener noreferrer" class="project-link" aria-label="GitHub project link">See project</a>
          </div>

        </li>
        <li class="project-swiper-slide swiper-slide">
          <div class="projects-image-wrapper">
            <img class="projects-image" src="../img/projects/food-delivery.png" alt="Portfolio" width="475"
              height="300" />
          </div>
          <div class="projects-info">
            <ul class="projects-list">
              <li class="projects-item-list">JS</li>
              <li class="projects-item-list">HTML</li>
              <li class="projects-item-list">CSS</li>
            </ul>
            <h3 class="main-info">
              Food Delivery

            </h3>
            <p class="main-info-text">Role: dev all sections</p>
            <a href="https://katerynatsyhaniuk.github.io/tsyhaniuk-food-delivery/" target="_blank"
              rel="noopener noreferrer" class="project-link" aria-label="GitHub project link">See project</a>
          </div>

        </li>
      </ul>
      <div class="projects-buttons-wrapper">
        <button type="button" class="projects-button-prev projects-button" aria-label="Swipe to the previous slide">
          <svg class="projects-button-icon">
            <use href="../img/icons.svg#arrow-narrow-left"></use>
          </svg>
        </button>
        <button type="button" class="projects-button-next projects-button" aria-label="Swipe to the next slide">
          <svg class="projects-button-icon">
            <use href="../img/icons.svg#arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>