.about-me-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: #5d1478;
}

@media screen and (min-width: 768px) {
  .about-me-container {
    padding: 80px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

@media screen and (min-width: 1400px) {
  .about-me-container {
    padding: 80px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.about-me-info {
  color: rgb(250, 246, 252);
  padding: 10px;
}

@media screen and (min-width: 1400px) {
  .about-me-info {
    padding: 36px;
    max-width: 890px;
  }
}
.about-me-text {
  text-align: center;
}

.about-me-title {
  font-size: 30px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1400px) {
  .about-me-title {
    font-size: 45px;
    margin-bottom: 15px;
  }
}

.about-me-qualities {
  font-size: 14px;
}

@media screen and (min-width: 1400px) {
  .about-me-qualities {
    font-size: 18px;
  }
}
.span-qualities {
  /* font-family: 'Italianno'; */
  font-size: 25px;
  color: #f5f4f6f0;
}

@media screen and (min-width: 1400px) {
  .span-qualities {
    font-size: 40px;
  }
}

.box-about-me-img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .box-about-me-img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1400px) {
  .box-about-me-img {
    padding-right: 36px;
    max-width: 350px;
  }
}

.about-me-img {
  border: 4px solid white;
  border-radius: 60px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media screen and (min-width: 768px) {
  .about-me-img {
    height: 500px;
  }
}

@media screen and (min-width: 1400px) {
  .about-me-img {
    width: 300px;
    height: 600px;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 0.8s ease;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
}
