.header-container {
  padding: 15px;
  background-color: rgba(191, 123, 209, 0.542);
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 5px 10px 5px 10px;
}

@media screen and (min-width: 768px) {
  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 230px;
    border-radius: 5px 20px 5px 20px;
  }
}

@media screen and (min-width: 1400px) {
  .logo-img {
    width: 60px;
    height: 60px;
    margin-right: 760px;
  }
}

.header-list,
.work-together {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 20px;
  }
}

.nav-info-box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .work-together {
    display: flex;
    border: 2px solid #5d1478;
    background-color: #5d1478;
    padding: 10px;
    border-radius: 20px 5px 20px 5px;
    color: rgb(250, 246, 252);
    font-size: 16px;
  }

  .work-together:hover,
  .work-together:focus {
    background-color: transparent;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item {
    position: relative;
    color: #5d1478;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .header-item:hover::after,
  .header-item:focus::after,
  .active::after {
    display: block;
    content: '';
    border-radius: 5px 20px 5px 20px;
    width: 10px;
    height: 10px;
    background: #5d1478;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1400px) {
  .work-together {
    padding: 15px;
    font-size: 18px;
  }

  .header-item {
    font-size: 18px;
  }
}

.back-to-top-btn {
  display: flex;
  justify-content: center;
  border: 1px solid #eec8fc;
  background-color: #9f5db73a;
  border-radius: 5px 20px 5px 20px;
  position: fixed;
  z-index: 999;
  bottom: -50px;
  padding: 8px 8px;
  right: 16px;
  cursor: pointer;
  transition: 0.3s all;
  transition: transform 300ms ease-in-out;
  transition: border 300ms ease-in-out;
}

.back-to-top-btn:active,
.back-to-top-btn:focus-visible,
.back-to-top-btn:hover {
  border: 1px solid #7f5d89;
}

.back-to-top-btn svg {
  color: #35253a;
}

.back-to-top-btn.back-to-top-btn-active {
  bottom: 50px;
  transition: 0.3s all;
}

@media screen and (min-width: 768px) {
  .back-to-top-btn {
    right: 32px;
  }
}

@media screen and (min-width: 1400px) {
  .back-to-top-btn {
    right: 20px;
  }
}

.mobile-menu-btn-icon {
  color: white;
}

.mobile-menu-btn {
  width: 40px;
  height: 40px;
  background-color: #5d1478;
  border: transparent;
  border-radius: 10px 5px 10px 5px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
