.header-container {
  padding: 20px;
  background-color: rgba(191, 123, 209, 0.542);
}

.logo-img {
  border-radius: 5px 20px 5px 20px;
}

.nav-info {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.work-together {
  border: 2px solid #ac7ebd;
  background-color: #ac7ebd;
  padding: 13px;
  border-radius: 20px 5px 20px 5px;
  color: rgb(250, 246, 252);
  font-size: 18px;
}

.work-together:hover,
.work-together:focus {
  background-color: transparent;
}
