.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(191, 123, 209, 0.542);
  background-image: url('../img/1216_60.png');
  background-size: 280px auto;
  background-repeat: no-repeat;
  background-position: top right -90px;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: url('../img/1216_60.png');
    background-size: 400px auto;
    background-position: top right -110px;
    padding: 60px 20px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-container {
    background-image: url('../img/1216_60.png');
    background-size: 600px auto;
    background-position: top right -40px;
    padding: 60px 30px;
  }
}

.title-first,
.title-second,
.title-third {
  font-size: 32px;
  color: #5d1478;
}

/* .title-third {
  letter-spacing: 4px;
  font-size: 40px;
} */

@media screen and (min-width: 768px) {
  .title-first,
  .title-second,
  .title-third {
    font-size: 48px;
  }
}

@media screen and (min-width: 1400px) {
  .title-first,
  .title-second,
  .title-third {
    font-size: 62px;
  }
}

.hero-title {
  text-align: center;
  line-height: 70px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    text-align: center;
    line-height: 80px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    margin-bottom: 120px;
  }
}

.white-later {
  color: rgb(250, 246, 252);
}

.title-first {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.title-second {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 500ms;
}
.title-third {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 1000ms;
}

.social-list {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 1500ms;
}

.title-first.hero-title-visible,
.title-second.hero-title-visible,
.title-third.hero-title-visible,
.social-list.hero-title-visible {
  opacity: 1;
}

.social-list {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .social-list {
    margin-left: 250px;
    gap: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .social-list {
    gap: 20px;
  }
}

a svg {
  fill: #5d1478;
}

@media screen and (min-width: 768px) {
  a svg {
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 1400px) {
  a svg {
    width: 40px;
    height: 40px;
  }
}

a svg:hover,
a svg:focus {
  fill: rgb(250, 246, 252);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gmail-item {
  display: flex;
  flex-direction: column;
  max-width: 40px;
  font-size: 4px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.gmail-item p {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
  left: -80px;
  top: -10%;
  transform: translateY(-50%) translateX(10px);
  white-space: nowrap;
  color: #4b0082;
  font-size: 14px;
  pointer-events: none;
}

.gmail-link:focus + p,
.gmail-link:hover + p {
  opacity: 1;
  transform: translateY(20%) translateX(0);
}
@media screen and (min-width: 768px) {
  .gmail-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 300px;
  }

  .gmail-item p {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
    left: 10px;
    top: 15%;
    transform: translateY(-50%) translateX(10px);
    white-space: nowrap;
    color: #4b0082; /* #4b0082 або інший колір rgb(250, 246, 252) */
    font-size: 16px;
    pointer-events: none;
  }

  .gmail-link:focus + p,
  .gmail-link:hover + p {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}
