.footer-container {
  position: relative;
  padding: 40px 20px;
  background-color: rgba(198, 134, 216, 0.542);
  background-color: rgb(226, 174, 241);
  /* background-color: rgba(191, 123, 209, 0.542); */
  background-image: url('../img/flower-2.png');
  background-size: 400px auto;
  background-repeat: no-repeat;
  background-position: top 20px right 50px;
}

@media screen and (min-width: 375px) {
  .footer-container {
    background-size: 350px auto;
    background-position: top 20px right 100px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    background-size: 350px auto;
    background-position: top 20px right 450px;
  }
}

@media screen and (min-width: 1400px) {
  .footer-container {
    padding: 120px 30px;
    background-size: 600px auto;
    background-position: top -20px right 850px;
  }
}

.footer-title {
  color: #5d1478;
  padding: 76px 8px 56px 8px;
  font-size: 22px;
  margin-left: 128px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-align: center;
    margin-left: 160px;
    padding: 42px;
    font-size: 34px;
  }
}

@media screen and (min-width: 1400px) {
  .footer-title {
    margin-left: 250px;
    padding: 58px;
    font-size: 52px;
  }
}

.start {
  color: rgb(250, 246, 252);
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: 122px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-left: 220px;
    font-size: 18px;
  }
}

.footer-form-input-mail,
.footer-form-input-text {
  max-width: 200px;
  padding: 10px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 20px 5px 20px 5px;
  outline: none;
  font-size: 14px;
  color: #5d1478;
}

@media screen and (min-width: 768px) {
  .footer-form-input-mail,
  .footer-form-input-text {
    max-width: 200px;
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .footer-form-input-mail,
  .footer-form-input-text {
    max-width: 400px;
    padding: 18px;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 20px 5px 20px 5px;
    outline: none;
    font-size: 18px;
    color: #5d1478;
  }
}

.footer-form-input-mail::placeholder,
.footer-form-input-text::placeholder {
  font-size: 14px;
  color: rgba(184, 164, 185, 0.793);
}

@media screen and (min-width: 768px) {
  .footer-form-input-mail::placeholder,
  .footer-form-input-text::placeholder {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .footer-form-input-mail::placeholder,
  .footer-form-input-text::placeholder {
    font-size: 18px;
  }
}

.form-submit-btn {
  white-space: nowrap;
  margin-right: 70px;
  /* width: 60px; */
  background-color: #5d1478;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 20px 5px 20px 5px;
  padding: 10px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .form-submit-btn {
    margin-right: 0;
    width: 130px;
    background-color: #5d1478;
    color: #fafafa;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 20px 5px 20px 5px;
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .form-submit-btn {
    padding: 18px;
    font-size: 18px;
  }
}

.form-submit-btn:hover,
.form-submit-btn:focus {
  background-color: transparent;
  border: 2px solid #5d1478;
}

.valid-notification-mail,
.valid-notification-comment {
  display: block;
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #3cbc81;
  min-height: 18px;
}

.valid-notification-mail.notification-error,
.valid-notification-comment.notification-error {
  color: #e74a3b;
}

.footer-form-input-mail.input-success,
.footer-form-input-text.input-success {
  border: 1px solid #3cbc81;
}
.footer-form-input-mail.input-error,
.footer-form-input-text.input-error {
  border: 1px solid #e74a3b;
}

.input-mail-box,
.input-comments-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 16, 0.6);
  z-index: 9999;
}
.footer-modal {
  z-index: 10000;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  min-height: 250px;
  background-color: #9b5eb1;
  border-radius: 20px;
  padding: 44px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    min-height: 250px;
    background-color: #9b5eb1;
    border-radius: 20px;
    padding: 64px 48px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-modal-close-btn {
  border: none;
  border-radius: 8px 2px 8px 2px;
  background-color: rgba(236, 206, 245, 0.542);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 4px;
  right: 20px;
  top: 20px;
  color: rgb(61, 13, 64);
}
.footer-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}

.footer-modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

body.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.footer-modal-close-icon {
  width: 20px;
  height: 20px;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  font-family: sans-serif;
  color: #854d85;
}

@media only screen and (min-width: 1400px) {
  .loader-box {
    font-size: 18px;
  }
}

.letter,
.dot {
  opacity: 0;
  animation: appear 1.5s infinite;
}

.letter:nth-child(1) {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.1s;
}
.letter:nth-child(3) {
  animation-delay: 0.2s;
}
.letter:nth-child(4) {
  animation-delay: 0.3s;
}
.letter:nth-child(5) {
  animation-delay: 0.4s;
}
.letter:nth-child(6) {
  animation-delay: 0.5s;
}
.letter:nth-child(7) {
  animation-delay: 0.6s;
}
.dot:nth-child(8) {
  animation-delay: 0.7s;
}
.dot:nth-child(9) {
  animation-delay: 0.8s;
}
.dot:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes appear {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
